#margin {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#bigLink {
  color: #00B7FF;
  font-size: 30px;
}

#voteSection {
  font-size: 30px;
}

#voteCommentSection {
  font-size: 20px;
}

.navbar-brand {
  font-size: 65px !important;
}

.col-md-4 {
  font-size: 30px !important;
}

.pull-right {
  float: right !important;
}

.comments {
	font-size: 30px;
}

.usernameComment {
	font-size: 18px;
	color: blue;
}

.userComment {
	font-size: 25px;
}

.smallIcon {
	font-size: 20px;
}

.bigAndBoldFont {
  font-size: 35px;
  color: red;
  font-weight: bold;
}