<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#/">RADDIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div id="margin">
<h1>Edit Comment</h1>
<br><br>
<form>
    <div class="form-group">
        <span ng-if="comment.comments[0].user == user.username">
            <label> Your comment </label>
        </span>
        <span ng-if="user.isMod == 1">
            <label> {{comment.comments[0].user}}'s comment </label>
        </span>
        <textarea class="form-control" ng-model="comment.comments[0].body"></textarea>
        <br>
        <label> Article Title: </label> {{article.title}} 
        <br>
        <label>URL: </label>	
        <a href={{article.URL}}> {{article.URL}} </a>
    </div>
    
    <input type="button" class="btn btn-primary" value="Update" ng-click="update()"></input>	
</form>
</div>
