<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#/">RADDIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <input class="form-control" ng-model="article.search" placeholder="Search"></input>
      <input type="button" class="btn btn-primary" value="Search" ng-click="submit()">

  </div>
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary btn-lg" ng-click="logout()"> Logout </button>
      </li>
    </ul>

</nav>

<div id="margin">

<div class="row">
	<div class="col-md-5">
  		<h1>News Aggregator Home Page</h1>
	</div>
  	<div class="col-md-4 offset-md-3">
  		<center>
  			<div class="pull-right">
  				<a href="/#/add-article">
					Submit an article
				</a>
			</div>
  		</center>
  	</div>
</div>


<div ng-repeat='article in articles'>
	<hr>
	
	<div class="container-fluid">
	<div class="row">
  		<div id="voteSection" class="col-1">
  			<center>
  			<span id="voteCount"> {{article.votes}} </span>
  			</center>
  			<button ng-click="up(article._id)">
  				<span class="glyphicon glyphicon-arrow-up"></span>
  			</button>
  			<button ng-click="down(article._id)">
  				<span class="glyphicon glyphicon-arrow-down"></span>
  			</button>
  		</div>
  		
  		<div class="col-11">
  			<a href={{article.URL}} >
  				<span id="bigLink">
					{{article.title}}
				</span>
			</a> <br>
			By {{article.user}} <br>
			<a href="/#/article/viewcomments/{{article._id}}">
        <b> Comments 
          <span ng-repeat='comment in article.comments | filter:query as filtered'>
            
          </span>
          <span ng-if="filtered.length">
            ({{filtered.length}})
          </span>
          <span ng-if="!filtered.length">
            (0)
          </span>
          
        </b>
      </a>
      &nbsp;&nbsp; 
			<span ng-if="article.user == user.username || user.isMod == 1">
				<a href="/#/article/edit/{{article._id}}">
					Edit
				</a>
			</span>
			&nbsp;&nbsp;
      <span ng-if="article.user == user.username || user.isMod == 1"> 
			<a href="/#/article/delete/{{article._id}}">
				Delete
			</a>
  		</span>
    </div>
	</div>
		
	</div>
</div>
<hr>
</div>
<!-- 
{{articles}}
-->