
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/#/">RADDIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<h2 class="page-header">Account Login</h2>
    <label>Username</label>
    <input type="text" class="form-control" ng-model="user.username" placeholder="Username">
    <br>
    <label>Password</label>
    <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
    <br>
  <button type="submit" class="btn btn-default" ng-click="submit()">Login</button>
</form>
<br>
<center>
  Want to keep up with the latest news? <a href="/#/register"> Register here </a>
</center>